
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak 
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/config/applicationhost.config
.vs/config/applicationhost.config
/TestApi

.vs/config/applicationhost.config
/.vs/config/applicationhost.config

