ContentSystem/ContentSystem.Admin/bin/*
ContentSystem/ContentSystem.Admin/obj/*
ContentSystem/ContentSystem.Api/bin/*
ContentSystem/ContentSystem.Api/obj/*
ContentSystem/ContentSystem.Business.Test/bin/*
ContentSystem/ContentSystem.Business.Test/obj/*
ContentSystem/ContentSystem.Business/bin/*
ContentSystem/ContentSystem.Business/obj/*
ContentSystem/ContentSystem.Core/bin/*
ContentSystem/ContentSystem.Core/obj/*
ContentSystem/ContentSystem.Data/bin/*
ContentSystem/ContentSystem.Data/obj/*
ContentSystem/ContentSystem.Domain/bin/*
ContentSystem/ContentSystem.Domain/obj/*
ContentSystem/ContentSystem.IService/bin/*
ContentSystem/ContentSystem.IService/obj/*
ContentSystem/ContentSystem.Service/bin/*
ContentSystem/ContentSystem.Service/obj/*
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak 
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/config/applicationhost.config
.vs/config/applicationhost.config
/TestApi

.vs/config/applicationhost.config
/.vs/config/applicationhost.config

