@{
    ViewBag.Title = "订单列表";
}
@section head{

    <link href="/Content/asDatepicker.css" rel="stylesheet" />
    <style type="text/css">
        .calendar-icon {
            display: none;
        }
    </style>
}
@model ContentSystem.Models.OrderVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        
                            <div class="col-sm-12"> 
                                <div class="col-sm-12">
                                    <label style="width:150px;">点击同步订单数据： </label>

                                    <button class="btn btn-success btn-initorder"><i class="fa fa-check padding-right-4"></i>&nbsp;同步订单</button>
                                    <div class="hr-line-dashed"></div>
                                </div>
                                </div>
                            <div class="col-sm-12" style="height:20px;"></div>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    输入年份同步假期数据：<br>
                                    <input type="text" name="txtYear" id="txtYear" class="form-control inline" style="width:150px;" placeholder="请输入年份，如：2018" value="@DateTime.Now.Year">

                                    <button class="btn btn-success btn-inityear"><i class="fa fa-check padding-right-4"></i>&nbsp;同步假期数据</button>
                                </div>
                            </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section script{ 
    <script type="text/javascript">
        $(document).ready(function () {


            $(".btn-inityear").click(function () {

                console.log("in")
                var _year = $("#txtYear").val();
                if (_year != "") {
                    var dataArr = {
                        year: _year,
                    };
                    $.post('/GrabData/InitYear', dataArr, function (data) {
                        if (data.Status == 200) {
                            swal("提示", "操作成功");
                        }
                        if (data.Status == 202) {
                            swal("提示", "操作失败");
                        }
                    }).complete(function () { window.parent.hideModal(); });
                }
            })
            $(".btn-initorder").click(function () {
                swal("提示", "正在执行同步数据操作，请等待！");
                console.log("in1")
                var dataArr = {
                };
                $.post('/GrabData/GrabOrderData', dataArr, function (data) {
                    if (data.Status == 200) {
                        swal("提示", "操作成功");
                    }
                    if (data.Status == 202) {
                        swal("提示", "操作失败");
                    }
                }).complete(function () { window.parent.hideModal(); });
            })
        });
    </script>
}

